.about-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-content-block {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 15px;
}

.about-content-block-numb {
  border: 1px solid var(--main-color);
  border-radius: 100px;
  text-align: center;
  width: 67px;
  height: 67px;
  padding: 15px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--main-color);
}

.about-content-block-text {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--main-color);
}