.services-block {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.service-block-content {
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

.service-name {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 20px;
  color: var(--main-color);
}

.service-price {
  margin-top: 10px;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: var(--main-color);
}

.services-text {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--main-color);
}