.portfolio-hint {
  color: var(--main-color);
  margin-top: 10px;
  font-size: 16px;

}

.slider-container {
  margin-top: 25px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--background-color);
}

.slider-track {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  cursor: grab;
  white-space: nowrap;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  background-color: var(--background-color);

}

.slider-track:active {
  cursor: grabbing;
}

.slider-track::-webkit-scrollbar {
  display: none;
}

.slides {
  display: flex;
  width: 100%;
  background-color: var(--background-color);

}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide video {
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: var(--background-color);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(74, 83, 114, 0.5);
  backdrop-filter: blur(4px);
  color: var(--background-color);
  border: none;
  font-size: 2rem;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: 0.2s;
  font-weight: bold;
}

.nav-btn:hover {
  background: rgba(74, 83, 114, 0.7);
  transform: translateY(-50%) scale(1.05);
}

.btn-left {
  left: 12px;
}

.btn-right {
  right: 12px;
}

@media (max-width: 700px) {
  .nav-btn {
    width: 36px;
    height: 36px;
    font-size: 1.6rem;
  }
}